.d-flex
  display flex
.mt-2
  margin-top 8px
.mr-2
  margin-right 8px
.flex-auto
  flex auto
.justify-space-between
  justify-content: space-between
.align-center
  align-items: center

body
  cursor: url('/cursor01.ico'), auto;

a:hover
  cursor: url('/cursor05.ico'), auto;